<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <title>Document</title>
</head>
<body>
  <div class="popup_div">
    <div class="popup">
        <div class="bin_header_container">
            <div class="warning_container">
                <div class="warning_wraper">
                    <div class="warning_img_div">
                        <img class="warning_img" src="../static/images/warning.png">
                    </div>
                    <div class="warning_div">
                        <h4 class="dont_forget_msg">Don't forget!</h4>
                        <h4 class="warning_message">The trash must be thrown empty, without residues!</h4>
                    </div>
                </div>
            </div>
            <div class="dispose_msg_div">
                <h4 class="dispose_msg">Please deposit your item in the following bin</h4>
            </div>
        </div>
        <div class="pop_up_img_div">
            <img class="pop_up_img" src="../static/images/TakeAwayPaperBags.png">
        </div>
        <div class="bin_container">
            <div class="name_bin_container">
                <h4 class="name">Take Away Paper Bags</h4>
                <div class="green">
                    <h4 class="undefined">Dry Mixed Recycles</h4>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
<div class="popup_div_2">
        
</div>
     <script>
       

        
        function appendChild(parent, child) {
                parent.appendChild(child);
            }

        function createElementWithClass(elementType, className) {
            const element = document.createElement(elementType);
            element.className = className;
            return element;
        }

     </script>
</body>
</html>